$icomoon-font-family: "serpul-icon" !default;
$icomoon-font-path: "fonts" !default;

$sp-activity-heart: "\e900";
$sp-activity: "\e901";
$sp-airplay: "\e902";
$sp-airpods: "\e903";
$sp-alarm-clock-check: "\e904";
$sp-alarm-clock-minus: "\e905";
$sp-alarm-clock-off: "\e906";
$sp-alarm-clock-plus: "\e907";
$sp-alarm-clock: "\e908";
$sp-alert-circle: "\e909";
$sp-alert-hexagon: "\e90a";
$sp-alert-octagon: "\e90b";
$sp-alert-square: "\e90c";
$sp-alert-triangle: "\e90d";
$sp-align-bottom-01: "\e90e";
$sp-align-bottom-02: "\e90f";
$sp-align-center: "\e910";
$sp-align-horizontal-centre-01: "\e911";
$sp-align-horizontal-centre-02: "\e912";
$sp-align-justify: "\e913";
$sp-align-left-01: "\e914";
$sp-align-left-02: "\e915";
$sp-align-left: "\e916";
$sp-align-right-01: "\e917";
$sp-align-right-02: "\e918";
$sp-align-right: "\e919";
$sp-align-top-arrow-01: "\e91a";
$sp-align-top-arrow-02: "\e91b";
$sp-align-vertical-center-01: "\e91c";
$sp-align-vertical-center-02: "\e91d";
$sp-anchor: "\e91e";
$sp-annotation-alert: "\e91f";
$sp-annotation-check: "\e920";
$sp-annotation-dots: "\e921";
$sp-annotation-heart: "\e922";
$sp-annotation-info: "\e923";
$sp-annotation-plus: "\e924";
$sp-annotation-question: "\e925";
$sp-annotation-x: "\e926";
$sp-annotation: "\e927";
$sp-announcement-01: "\e928";
$sp-announcement-02: "\e929";
$sp-announcement-03: "\e92a";
$sp-archive: "\e92b";
$sp-arrow-block-down: "\e92c";
$sp-arrow-block-left: "\e92d";
$sp-arrow-block-right: "\e92e";
$sp-arrow-block-up: "\e92f";
$sp-arrow-circle-broken-down-left: "\e930";
$sp-arrow-circle-broken-down-right: "\e931";
$sp-arrow-circle-broken-down: "\e932";
$sp-arrow-circle-broken-left: "\e933";
$sp-arrow-circle-broken-right: "\e934";
$sp-arrow-circle-broken-up-left: "\e935";
$sp-arrow-circle-broken-up-right: "\e936";
$sp-arrow-circle-broken-up: "\e937";
$sp-arrow-circle-down-left: "\e938";
$sp-arrow-circle-down-right: "\e939";
$sp-arrow-circle-down: "\e93a";
$sp-arrow-circle-left: "\e93b";
$sp-arrow-circle-right: "\e93c";
$sp-arrow-circle-up-left: "\e93d";
$sp-arrow-circle-up-right: "\e93e";
$sp-arrow-circle-up: "\e93f";
$sp-arrow-down-left: "\e940";
$sp-arrow-down-right: "\e941";
$sp-arrow-down: "\e942";
$sp-arrow-left: "\e943";
$sp-arrow-narrow-down-left: "\e944";
$sp-arrow-narrow-down-right: "\e945";
$sp-arrow-narrow-down: "\e946";
$sp-arrow-narrow-left: "\e947";
$sp-arrow-narrow-right: "\e948";
$sp-arrow-narrow-up-left: "\e949";
$sp-arrow-narrow-up-right: "\e94a";
$sp-arrow-narrow-up: "\e94b";
$sp-arrow-right: "\e94c";
$sp-arrow-square-down-left: "\e94d";
$sp-arrow-square-down-right: "\e94e";
$sp-arrow-square-down: "\e94f";
$sp-arrow-square-left: "\e950";
$sp-arrow-square-right: "\e951";
$sp-arrow-square-up-left: "\e952";
$sp-arrow-square-up-right: "\e953";
$sp-arrow-square-up: "\e954";
$sp-arrow-up-left: "\e955";
$sp-arrow-up-right: "\e956";
$sp-arrow-up: "\e957";
$sp-arrows-down: "\e958";
$sp-arrows-left: "\e959";
$sp-arrows-right: "\e95a";
$sp-arrows-triangle: "\e95b";
$sp-arrows-up: "\e95c";
$sp-asterisk-01: "\e95d";
$sp-asterisk-02: "\e95e";
$sp-at-sign: "\e95f";
$sp-atom-01: "\e960";
$sp-atom-02: "\e961";
$sp-attachment-01: "\e962";
$sp-attachment-02: "\e963";
$sp-award-01: "\e964";
$sp-award-02: "\e965";
$sp-award-03: "\e966";
$sp-award-04: "\e967";
$sp-award-05: "\e968";
$sp-backpack: "\e969";
$sp-bank-note-01: "\e96a";
$sp-bank-note-02: "\e96b";
$sp-bank-note-03: "\e96c";
$sp-bank: "\e96d";
$sp-bar-chart-01: "\e96e";
$sp-bar-chart-02: "\e96f";
$sp-bar-chart-03: "\e970";
$sp-bar-chart-04: "\e971";
$sp-bar-chart-05: "\e972";
$sp-bar-chart-06: "\e973";
$sp-bar-chart-07: "\e974";
$sp-bar-chart-08: "\e975";
$sp-bar-chart-09: "\e976";
$sp-bar-chart-10: "\e977";
$sp-bar-chart-11: "\e978";
$sp-bar-chart-12: "\e979";
$sp-bar-chart-circle-01: "\e97a";
$sp-bar-chart-circle-02: "\e97b";
$sp-bar-chart-circle-03: "\e97c";
$sp-bar-chart-square-01: "\e97d";
$sp-bar-chart-square-02: "\e97e";
$sp-bar-chart-square-03: "\e97f";
$sp-bar-chart-square-down: "\e980";
$sp-bar-chart-square-minus: "\e981";
$sp-bar-chart-square-plus: "\e982";
$sp-bar-chart-square-up: "\e983";
$sp-bar-line-chart: "\e984";
$sp-battery-charging-01: "\e985";
$sp-battery-charging-02: "\e986";
$sp-battery-empty: "\e987";
$sp-battery-full: "\e988";
$sp-battery-low: "\e989";
$sp-battery-mid: "\e98a";
$sp-beaker-01: "\e98b";
$sp-beaker-02: "\e98c";
$sp-bell-01: "\e98d";
$sp-bell-02: "\e98e";
$sp-bell-03: "\e98f";
$sp-bell-04: "\e990";
$sp-bell-minus: "\e991";
$sp-bell-off-01: "\e992";
$sp-bell-off-02: "\e993";
$sp-bell-off-03: "\e994";
$sp-bell-plus: "\e995";
$sp-bell-ringing-01: "\e996";
$sp-bell-ringing-02: "\e997";
$sp-bell-ringing-03: "\e998";
$sp-bell-ringing-04: "\e999";
$sp-bezier-curve-01: "\e99a";
$sp-bezier-curve-02: "\e99b";
$sp-bezier-curve-03: "\e99c";
$sp-bluetooth-connect: "\e99d";
$sp-bluetooth-off: "\e99e";
$sp-bluetooth-on: "\e99f";
$sp-bluetooth-signal: "\e9a0";
$sp-bold-01: "\e9a1";
$sp-bold-02: "\e9a2";
$sp-bold-square: "\e9a3";
$sp-book-closed: "\e9a4";
$sp-book-open-01: "\e9a5";
$sp-book-open-02: "\e9a6";
$sp-bookmark-add: "\e9a7";
$sp-bookmark-check: "\e9a8";
$sp-bookmark-minus: "\e9a9";
$sp-bookmark-x: "\e9aa";
$sp-bookmark: "\e9ab";
$sp-box: "\e9ac";
$sp-brackets-check: "\e9ad";
$sp-brackets-ellipses: "\e9ae";
$sp-brackets-minus: "\e9af";
$sp-brackets-plus: "\e9b0";
$sp-brackets-slash: "\e9b1";
$sp-brackets-x: "\e9b2";
$sp-brackets: "\e9b3";
$sp-briefcase-01: "\e9b4";
$sp-briefcase-02: "\e9b5";
$sp-browser: "\e9b6";
$sp-brush-01: "\e9b7";
$sp-brush-02: "\e9b8";
$sp-brush-03: "\e9b9";
$sp-building-01: "\e9ba";
$sp-building-02: "\e9bb";
$sp-building-03: "\e9bc";
$sp-building-04: "\e9bd";
$sp-building-05: "\e9be";
$sp-building-06: "\e9bf";
$sp-building-07: "\e9c0";
$sp-building-08: "\e9c1";
$sp-bus: "\e9c2";
$sp-calculator: "\e9c3";
$sp-calendar-check-01: "\e9c4";
$sp-calendar-check-02: "\e9c5";
$sp-calendar-date: "\e9c6";
$sp-calendar-heart-01: "\e9c7";
$sp-calendar-heart-02: "\e9c8";
$sp-calendar-minus-01: "\e9c9";
$sp-calendar-minus-02: "\e9ca";
$sp-calendar-plus-01: "\e9cb";
$sp-calendar-plus-02: "\e9cc";
$sp-calendar: "\e9cd";
$sp-camera-01: "\e9ce";
$sp-camera-02: "\e9cf";
$sp-camera-03: "\e9d0";
$sp-camera-lens: "\e9d1";
$sp-camera-off: "\e9d2";
$sp-camera-plus: "\e9d3";
$sp-car-01: "\e9d4";
$sp-car-02: "\e9d5";
$sp-certificate-01: "\e9d6";
$sp-certificate-02: "\e9d7";
$sp-chart-breakout-circle: "\e9d8";
$sp-chart-breakout-square: "\e9d9";
$sp-check-circle-broken: "\e9da";
$sp-check-circle: "\e9db";
$sp-check-done-01: "\e9dc";
$sp-check-done-02: "\e9dd";
$sp-check-heart: "\e9de";
$sp-check-square-broken: "\e9df";
$sp-check-square: "\e9e0";
$sp-check-verified-01: "\e9e1";
$sp-check-verified-02: "\e9e2";
$sp-check-verified-03: "\e9e3";
$sp-check: "\e9e4";
$sp-chevron-down-double: "\e9e5";
$sp-chevron-down: "\e9e6";
$sp-chevron-left-double: "\e9e7";
$sp-chevron-left: "\e9e8";
$sp-chevron-right-double: "\e9e9";
$sp-chevron-right: "\e9ea";
$sp-chevron-selector-horizontal: "\e9eb";
$sp-chevron-selector-vertical: "\e9ec";
$sp-chevron-up-double: "\e9ed";
$sp-chevron-up: "\e9ee";
$sp-chrome-cast: "\e9ef";
$sp-circle-cut: "\e9f0";
$sp-circle: "\e9f1";
$sp-clapperboard: "\e9f2";
$sp-clipboard-attachment: "\e9f3";
$sp-clipboard-check: "\e9f4";
$sp-clipboard-download: "\e9f5";
$sp-clipboard-minus: "\e9f6";
$sp-clipboard-plus: "\e9f7";
$sp-clipboard-x: "\e9f8";
$sp-clipboard: "\e9f9";
$sp-clock-check: "\e9fa";
$sp-clock-fast-forward: "\e9fb";
$sp-clock-plus: "\e9fc";
$sp-clock-refresh: "\e9fd";
$sp-clock-rewind: "\e9fe";
$sp-clock-snooze: "\e9ff";
$sp-clock-stopwatch: "\ea00";
$sp-clock: "\ea01";
$sp-cloud-01: "\ea02";
$sp-cloud-02: "\ea03";
$sp-cloud-03: "\ea04";
$sp-cloud-blank-01: "\ea05";
$sp-cloud-blank-02: "\ea06";
$sp-cloud-lightning: "\ea07";
$sp-cloud-moon: "\ea08";
$sp-cloud-off: "\ea09";
$sp-cloud-raining-01: "\ea0a";
$sp-cloud-raining-02: "\ea0b";
$sp-cloud-raining-03: "\ea0c";
$sp-cloud-raining-04: "\ea0d";
$sp-cloud-raining-05: "\ea0e";
$sp-cloud-raining-06: "\ea0f";
$sp-cloud-snowing-01: "\ea10";
$sp-cloud-snowing-02: "\ea11";
$sp-cloud-sun-01: "\ea12";
$sp-cloud-sun-02: "\ea13";
$sp-cloud-sun-03: "\ea14";
$sp-code-01: "\ea15";
$sp-code-02: "\ea16";
$sp-code-browser: "\ea17";
$sp-code-circle-01: "\ea18";
$sp-code-circle-02: "\ea19";
$sp-code-circle-03: "\ea1a";
$sp-code-snippet-01: "\ea1b";
$sp-code-snippet-02: "\ea1c";
$sp-code-square-01: "\ea1d";
$sp-code-square-02: "\ea1e";
$sp-codepen: "\ea1f";
$sp-coins-01: "\ea20";
$sp-coins-02: "\ea21";
$sp-coins-03: "\ea22";
$sp-coins-04: "\ea23";
$sp-coins-hand: "\ea24";
$sp-coins-stacked-01: "\ea25";
$sp-coins-stacked-02: "\ea26";
$sp-coins-stacked-03: "\ea27";
$sp-coins-stacked-04: "\ea28";
$sp-coins-swap-01: "\ea29";
$sp-coins-swap-02: "\ea2a";
$sp-colors: "\ea2b";
$sp-columns-01: "\ea2c";
$sp-columns-02: "\ea2d";
$sp-columns-03: "\ea2e";
$sp-command: "\ea2f";
$sp-compass-01: "\ea30";
$sp-compass-02: "\ea31";
$sp-compass-03: "\ea32";
$sp-compass: "\ea33";
$sp-container: "\ea34";
$sp-contrast-01: "\ea35";
$sp-contrast-02: "\ea36";
$sp-contrast-03: "\ea37";
$sp-copy-01: "\ea38";
$sp-copy-02: "\ea39";
$sp-copy-03: "\ea3a";
$sp-copy-04: "\ea3b";
$sp-copy-05: "\ea3c";
$sp-copy-06: "\ea3d";
$sp-copy-07: "\ea3e";
$sp-corner-down-left: "\ea3f";
$sp-corner-down-right: "\ea40";
$sp-corner-left-down: "\ea41";
$sp-corner-left-up: "\ea42";
$sp-corner-right-down: "\ea43";
$sp-corner-right-up: "\ea44";
$sp-corner-up-left: "\ea45";
$sp-corner-up-right: "\ea46";
$sp-cpu-chip-01: "\ea47";
$sp-cpu-chip-02: "\ea48";
$sp-credit-card-01: "\ea49";
$sp-credit-card-02: "\ea4a";
$sp-credit-card-check: "\ea4b";
$sp-credit-card-down: "\ea4c";
$sp-credit-card-download: "\ea4d";
$sp-credit-card-edit: "\ea4e";
$sp-credit-card-lock: "\ea4f";
$sp-credit-card-minus: "\ea50";
$sp-credit-card-plus: "\ea51";
$sp-credit-card-refresh: "\ea52";
$sp-credit-card-search: "\ea53";
$sp-credit-card-shield: "\ea54";
$sp-credit-card-up: "\ea55";
$sp-credit-card-upload: "\ea56";
$sp-credit-card-x: "\ea57";
$sp-crop-01: "\ea58";
$sp-crop-02: "\ea59";
$sp-cryptocurrency-01: "\ea5a";
$sp-cryptocurrency-02: "\ea5b";
$sp-cryptocurrency-03: "\ea5c";
$sp-cryptocurrency-04: "\ea5d";
$sp-cube-01: "\ea5e";
$sp-cube-02: "\ea5f";
$sp-cube-03: "\ea60";
$sp-cube-04: "\ea61";
$sp-cube-outline: "\ea62";
$sp-currency-bitcoin-circle: "\ea63";
$sp-currency-bitcoin: "\ea64";
$sp-currency-dollar-circle: "\ea65";
$sp-currency-dollar: "\ea66";
$sp-currency-ethereum-circle: "\ea67";
$sp-currency-ethereum: "\ea68";
$sp-currency-euro-circle: "\ea69";
$sp-currency-euro: "\ea6a";
$sp-currency-pound-circle: "\ea6b";
$sp-currency-pound: "\ea6c";
$sp-currency-ruble-circle: "\ea6d";
$sp-currency-ruble: "\ea6e";
$sp-currency-rupee-circle: "\ea6f";
$sp-currency-rupee: "\ea70";
$sp-currency-yen-circle: "\ea71";
$sp-currency-yen: "\ea72";
$sp-cursor-01: "\ea73";
$sp-cursor-02: "\ea74";
$sp-cursor-03: "\ea75";
$sp-cursor-04: "\ea76";
$sp-cursor-box: "\ea77";
$sp-cursor-click-01: "\ea78";
$sp-cursor-click-02: "\ea79";
$sp-data: "\ea7a";
$sp-database-01: "\ea7b";
$sp-database-02: "\ea7c";
$sp-database-03: "\ea7d";
$sp-dataflow-01: "\ea7e";
$sp-dataflow-02: "\ea7f";
$sp-dataflow-03: "\ea80";
$sp-dataflow-04: "\ea81";
$sp-delete: "\ea82";
$sp-diamond-01: "\ea83";
$sp-diamond-02: "\ea84";
$sp-dice-1: "\ea85";
$sp-dice-2: "\ea86";
$sp-dice-3: "\ea87";
$sp-dice-4: "\ea88";
$sp-dice-5: "\ea89";
$sp-dice-6: "\ea8a";
$sp-disc-01: "\ea8b";
$sp-disc-02: "\ea8c";
$sp-distribute-spacing-horizontal: "\ea8d";
$sp-distribute-spacing-vertical: "\ea8e";
$sp-divide-01: "\ea8f";
$sp-divide-02: "\ea90";
$sp-divide-03: "\ea91";
$sp-divider: "\ea92";
$sp-dotpoints-01: "\ea93";
$sp-dotpoints-02: "\ea94";
$sp-dots-grid: "\ea95";
$sp-dots-horizontal: "\ea96";
$sp-dots-vertical: "\ea97";
$sp-download-01: "\ea98";
$sp-download-02: "\ea99";
$sp-download-03: "\ea9a";
$sp-download-04: "\ea9b";
$sp-download-cloud-01: "\ea9c";
$sp-download-cloud-02: "\ea9d";
$sp-drop: "\ea9e";
$sp-droplets-01: "\ea9f";
$sp-droplets-02: "\eaa0";
$sp-droplets-03: "\eaa1";
$sp-dropper: "\eaa2";
$sp-edit-01: "\eaa3";
$sp-edit-02: "\eaa4";
$sp-edit-03: "\eaa5";
$sp-edit-04: "\eaa6";
$sp-edit-05: "\eaa7";
$sp-equal-not: "\eaa8";
$sp-equal: "\eaa9";
$sp-eraser: "\eaaa";
$sp-expand-01: "\eaab";
$sp-expand-02: "\eaac";
$sp-expand-03: "\eaad";
$sp-expand-04: "\eaae";
$sp-expand-05: "\eaaf";
$sp-expand-06: "\eab0";
$sp-eye-off: "\eab1";
$sp-eye: "\eab2";
$sp-face-content: "\eab3";
$sp-face-frown: "\eab4";
$sp-face-happy: "\eab5";
$sp-face-id-square: "\eab6";
$sp-face-id: "\eab7";
$sp-face-neutral: "\eab8";
$sp-face-sad: "\eab9";
$sp-face-smile: "\eaba";
$sp-face-wink: "\eabb";
$sp-fast-backward: "\eabc";
$sp-fast-forward: "\eabd";
$sp-feather: "\eabe";
$sp-figma: "\eabf";
$sp-file-01: "\eac0";
$sp-file-02: "\eac1";
$sp-file-03: "\eac2";
$sp-file-04: "\eac3";
$sp-file-05: "\eac4";
$sp-file-06: "\eac5";
$sp-file-07: "\eac6";
$sp-file-attachment-01: "\eac7";
$sp-file-attachment-02: "\eac8";
$sp-file-attachment-03: "\eac9";
$sp-file-attachment-04: "\eaca";
$sp-file-attachment-05: "\eacb";
$sp-file-check-01: "\eacc";
$sp-file-check-02: "\eacd";
$sp-file-check-03: "\eace";
$sp-file-code-01: "\eacf";
$sp-file-code-02: "\ead0";
$sp-file-download-01: "\ead1";
$sp-file-download-02: "\ead2";
$sp-file-download-03: "\ead3";
$sp-file-heart-01: "\ead4";
$sp-file-heart-02: "\ead5";
$sp-file-heart-03: "\ead6";
$sp-file-lock-01: "\ead7";
$sp-file-lock-02: "\ead8";
$sp-file-lock-03: "\ead9";
$sp-file-minus-01: "\eada";
$sp-file-minus-02: "\eadb";
$sp-file-minus-03: "\eadc";
$sp-file-plus-01: "\eadd";
$sp-file-plus-02: "\eade";
$sp-file-plus-03: "\eadf";
$sp-file-question-01: "\eae0";
$sp-file-question-02: "\eae1";
$sp-file-question-03: "\eae2";
$sp-file-search-01: "\eae3";
$sp-file-search-02: "\eae4";
$sp-file-search-03: "\eae5";
$sp-file-shield-01: "\eae6";
$sp-file-shield-02: "\eae7";
$sp-file-shield-03: "\eae8";
$sp-file-x-01: "\eae9";
$sp-file-x-02: "\eaea";
$sp-file-x-03: "\eaeb";
$sp-film-01: "\eaec";
$sp-film-02: "\eaed";
$sp-film-03: "\eaee";
$sp-filter-funnel-01: "\eaef";
$sp-filter-funnel-02: "\eaf0";
$sp-filter-lines: "\eaf1";
$sp-fingerprint-01: "\eaf2";
$sp-fingerprint-02: "\eaf3";
$sp-fingerprint-03: "\eaf4";
$sp-fingerprint-04: "\eaf5";
$sp-flag-01: "\eaf6";
$sp-flag-02: "\eaf7";
$sp-flag-03: "\eaf8";
$sp-flag-04: "\eaf9";
$sp-flag-05: "\eafa";
$sp-flag-06: "\eafb";
$sp-flash-off: "\eafc";
$sp-flash: "\eafd";
$sp-flex-align-bottom: "\eafe";
$sp-flex-align-left: "\eaff";
$sp-flex-align-right: "\eb00";
$sp-flex-align-top: "\eb01";
$sp-flip-backward: "\eb02";
$sp-flip-forward: "\eb03";
$sp-folder-check: "\eb04";
$sp-folder-closed: "\eb05";
$sp-folder-code: "\eb06";
$sp-folder-download: "\eb07";
$sp-folder-lock: "\eb08";
$sp-folder-minus: "\eb09";
$sp-folder-plus: "\eb0a";
$sp-folder-question: "\eb0b";
$sp-folder-search: "\eb0c";
$sp-folder-shield: "\eb0d";
$sp-folder-x: "\eb0e";
$sp-folder: "\eb0f";
$sp-framer: "\eb10";
$sp-gaming-pad-01: "\eb11";
$sp-gaming-pad-02: "\eb12";
$sp-gift-01: "\eb13";
$sp-gift-02: "\eb14";
$sp-git-branch-01: "\eb15";
$sp-git-branch-02: "\eb16";
$sp-git-commit: "\eb17";
$sp-git-merge: "\eb18";
$sp-git-pull-request: "\eb19";
$sp-glasses-01: "\eb1a";
$sp-glasses-02: "\eb1b";
$sp-globe-01: "\eb1c";
$sp-globe-02: "\eb1d";
$sp-globe-03: "\eb1e";
$sp-globe-04: "\eb1f";
$sp-globe-05: "\eb20";
$sp-globe-06: "\eb21";
$sp-globe-slated-01: "\eb22";
$sp-globe-slated-02: "\eb23";
$sp-google-chrome: "\eb24";
$sp-graduation-hat-01: "\eb25";
$sp-graduation-hat-02: "\eb26";
$sp-grid-01: "\eb27";
$sp-grid-02: "\eb28";
$sp-grid-03: "\eb29";
$sp-grid-dots-blank: "\eb2a";
$sp-grid-dots-bottom: "\eb2b";
$sp-grid-dots-horizontal-center: "\eb2c";
$sp-grid-dots-left: "\eb2d";
$sp-grid-dots-outer: "\eb2e";
$sp-grid-dots-right: "\eb2f";
$sp-grid-dots-top: "\eb30";
$sp-grid-dots-vertical-center: "\eb31";
$sp-hand: "\eb32";
$sp-hard-drive: "\eb33";
$sp-hash-01: "\eb34";
$sp-hash-02: "\eb35";
$sp-heading-01: "\eb36";
$sp-heading-02: "\eb37";
$sp-heading-square: "\eb38";
$sp-headphones-01: "\eb39";
$sp-headphones-02: "\eb3a";
$sp-heart-circle: "\eb3b";
$sp-heart-hand: "\eb3c";
$sp-heart-hexagon: "\eb3d";
$sp-heart-octagon: "\eb3e";
$sp-heart-rounded: "\eb3f";
$sp-heart-square: "\eb40";
$sp-heart: "\eb41";
$sp-hearts: "\eb42";
$sp-help-circle: "\eb43";
$sp-help-hexagon: "\eb44";
$sp-help-octagon: "\eb45";
$sp-help-square: "\eb46";
$sp-hexagon-01: "\eb47";
$sp-hexagon-02: "\eb48";
$sp-home-01: "\eb49";
$sp-home-02: "\eb4a";
$sp-home-03: "\eb4b";
$sp-home-04: "\eb4c";
$sp-home-05: "\eb4d";
$sp-home-line: "\eb4e";
$sp-home-smile: "\eb4f";
$sp-horizontal-bar-chart-01: "\eb50";
$sp-horizontal-bar-chart-02: "\eb51";
$sp-horizontal-bar-chart-03: "\eb52";
$sp-hourglass-01: "\eb53";
$sp-hourglass-02: "\eb54";
$sp-hourglass-03: "\eb55";
$sp-hurricane-01: "\eb56";
$sp-hurricane-02: "\eb57";
$sp-hurricane-03: "\eb58";
$sp-image-01: "\eb59";
$sp-image-02: "\eb5a";
$sp-image-03: "\eb5b";
$sp-image-04: "\eb5c";
$sp-image-05: "\eb5d";
$sp-image-check: "\eb5e";
$sp-image-down: "\eb5f";
$sp-image-indent-left: "\eb60";
$sp-image-indent-right: "\eb61";
$sp-image-left: "\eb62";
$sp-image-plus: "\eb63";
$sp-image-right: "\eb64";
$sp-image-up: "\eb65";
$sp-image-user-check: "\eb66";
$sp-image-user-down: "\eb67";
$sp-image-user-left: "\eb68";
$sp-image-user-plus: "\eb69";
$sp-image-user-right: "\eb6a";
$sp-image-user-up: "\eb6b";
$sp-image-user-x: "\eb6c";
$sp-image-user: "\eb6d";
$sp-image-x: "\eb6e";
$sp-inbox-01: "\eb6f";
$sp-inbox-02: "\eb70";
$sp-infinity: "\eb71";
$sp-info-circle: "\eb72";
$sp-info-hexagon: "\eb73";
$sp-info-octagon: "\eb74";
$sp-info-square: "\eb75";
$sp-intersect-circle: "\eb76";
$sp-intersect-square: "\eb77";
$sp-italic-01: "\eb78";
$sp-italic-02: "\eb79";
$sp-italic-square: "\eb7a";
$sp-key-01: "\eb7b";
$sp-key-02: "\eb7c";
$sp-keyboard-01: "\eb7d";
$sp-keyboard-02: "\eb7e";
$sp-laptop-01: "\eb7f";
$sp-laptop-02: "\eb80";
$sp-layer-single: "\eb81";
$sp-layers-three-01: "\eb82";
$sp-layers-three-02: "\eb83";
$sp-layers-two-01: "\eb84";
$sp-layers-two-02: "\eb85";
$sp-layout-alt-01: "\eb86";
$sp-layout-alt-02: "\eb87";
$sp-layout-alt-03: "\eb88";
$sp-layout-alt-04: "\eb89";
$sp-layout-bottom: "\eb8a";
$sp-layout-grid-01: "\eb8b";
$sp-layout-grid-02: "\eb8c";
$sp-layout-left: "\eb8d";
$sp-layout-right: "\eb8e";
$sp-layout-top: "\eb8f";
$sp-left-indent-01: "\eb90";
$sp-left-indent-02: "\eb91";
$sp-letter-spacing-01: "\eb92";
$sp-letter-spacing-02: "\eb93";
$sp-life-buoy-01: "\eb94";
$sp-life-buoy-02: "\eb95";
$sp-lightbulb-01: "\eb96";
$sp-lightbulb-02: "\eb97";
$sp-lightbulb-03: "\eb98";
$sp-lightbulb-04: "\eb99";
$sp-lightbulb-05: "\eb9a";
$sp-lightning-01: "\eb9b";
$sp-lightning-02: "\eb9c";
$sp-line-chart-down-01: "\eb9d";
$sp-line-chart-down-02: "\eb9e";
$sp-line-chart-down-03: "\eb9f";
$sp-line-chart-down-04: "\eba0";
$sp-line-chart-down-05: "\eba1";
$sp-line-chart-up-01: "\eba2";
$sp-line-chart-up-02: "\eba3";
$sp-line-chart-up-03: "\eba4";
$sp-line-chart-up-04: "\eba5";
$sp-line-chart-up-05: "\eba6";
$sp-line-height: "\eba7";
$sp-link-01: "\eba8";
$sp-link-02: "\eba9";
$sp-link-03: "\ebaa";
$sp-link-04: "\ebab";
$sp-link-05: "\ebac";
$sp-link-broken-01: "\ebad";
$sp-link-broken-02: "\ebae";
$sp-link-external-01: "\ebaf";
$sp-link-external-02: "\ebb0";
$sp-list: "\ebb1";
$sp-loading-01: "\ebb2";
$sp-loading-02: "\ebb3";
$sp-loading-03: "\ebb4";
$sp-lock-01: "\ebb5";
$sp-lock-02: "\ebb6";
$sp-lock-03: "\ebb7";
$sp-lock-04: "\ebb8";
$sp-lock-keyhole-circle: "\ebb9";
$sp-lock-keyhole-square: "\ebba";
$sp-lock-unlocked-01: "\ebbb";
$sp-lock-unlocked-02: "\ebbc";
$sp-lock-unlocked-03: "\ebbd";
$sp-lock-unlocked-04: "\ebbe";
$sp-log-in-01: "\ebbf";
$sp-log-in-02: "\ebc0";
$sp-log-in-03: "\ebc1";
$sp-log-in-04: "\ebc2";
$sp-log-out-01: "\ebc3";
$sp-log-out-02: "\ebc4";
$sp-log-out-03: "\ebc5";
$sp-log-out-04: "\ebc6";
$sp-luggage-01: "\ebc7";
$sp-luggage-02: "\ebc8";
$sp-luggage-03: "\ebc9";
$sp-magic-wand-01: "\ebca";
$sp-magic-wand-02: "\ebcb";
$sp-mail-01: "\ebcc";
$sp-mail-02: "\ebcd";
$sp-mail-03: "\ebce";
$sp-mail-04: "\ebcf";
$sp-mail-05: "\ebd0";
$sp-map-01: "\ebd1";
$sp-map-02: "\ebd2";
$sp-mark: "\ebd3";
$sp-marker-pin-01: "\ebd4";
$sp-marker-pin-02: "\ebd5";
$sp-marker-pin-03: "\ebd6";
$sp-marker-pin-04: "\ebd7";
$sp-marker-pin-05: "\ebd8";
$sp-marker-pin-06: "\ebd9";
$sp-maximize-01: "\ebda";
$sp-maximize-02: "\ebdb";
$sp-medical-circle: "\ebdc";
$sp-medical-cross: "\ebdd";
$sp-medical-square: "\ebde";
$sp-menu-01: "\ebdf";
$sp-menu-02: "\ebe0";
$sp-menu-03: "\ebe1";
$sp-menu-04: "\ebe2";
$sp-menu-05: "\ebe3";
$sp-message-alert-circle: "\ebe4";
$sp-message-alert-square: "\ebe5";
$sp-message-chat-circle: "\ebe6";
$sp-message-chat-square: "\ebe7";
$sp-message-check-circle: "\ebe8";
$sp-message-check-square: "\ebe9";
$sp-message-circle-01: "\ebea";
$sp-message-circle-02: "\ebeb";
$sp-message-dots-circle: "\ebec";
$sp-message-dots-square: "\ebed";
$sp-message-heart-circle: "\ebee";
$sp-message-heart-square: "\ebef";
$sp-message-notification-circle: "\ebf0";
$sp-message-notification-square: "\ebf1";
$sp-message-plus-circle: "\ebf2";
$sp-message-plus-square: "\ebf3";
$sp-message-question-circle: "\ebf4";
$sp-message-question-square: "\ebf5";
$sp-message-smile-circle: "\ebf6";
$sp-message-smile-square: "\ebf7";
$sp-message-square-01: "\ebf8";
$sp-message-square-02: "\ebf9";
$sp-message-text-circle-01: "\ebfa";
$sp-message-text-circle-02: "\ebfb";
$sp-message-text-square-01: "\ebfc";
$sp-message-text-square-02: "\ebfd";
$sp-message-x-circle: "\ebfe";
$sp-message-x-square: "\ebff";
$sp-microphone-01: "\ec00";
$sp-microphone-02: "\ec01";
$sp-microphone-off-01: "\ec02";
$sp-microphone-off-02: "\ec03";
$sp-microscope: "\ec04";
$sp-minimize-01: "\ec05";
$sp-minimize-02: "\ec06";
$sp-minus-circle: "\ec07";
$sp-minus-square: "\ec08";
$sp-minus: "\ec09";
$sp-modem-01: "\ec0a";
$sp-modem-02: "\ec0b";
$sp-monitor-01: "\ec0c";
$sp-monitor-02: "\ec0d";
$sp-monitor-03: "\ec0e";
$sp-monitor-04: "\ec0f";
$sp-monitor-05: "\ec10";
$sp-moon-01: "\ec11";
$sp-moon-02: "\ec12";
$sp-moon-eclipse: "\ec13";
$sp-moon-star: "\ec14";
$sp-mouse: "\ec15";
$sp-move: "\ec16";
$sp-music-note-01: "\ec17";
$sp-music-note-02: "\ec18";
$sp-music-note-plus: "\ec19";
$sp-navigation-pointer-01: "\ec1a";
$sp-navigation-pointer-02: "\ec1b";
$sp-navigation-pointer-off-01: "\ec1c";
$sp-navigation-pointer-off-02: "\ec1d";
$sp-notification-box: "\ec1e";
$sp-notification-message: "\ec1f";
$sp-notification-text: "\ec20";
$sp-octagon: "\ec21";
$sp-package-check: "\ec22";
$sp-package-minus: "\ec23";
$sp-package-plus: "\ec24";
$sp-package-search: "\ec25";
$sp-package-x: "\ec26";
$sp-package: "\ec27";
$sp-paint-pour: "\ec28";
$sp-paint: "\ec29";
$sp-palette: "\ec2a";
$sp-paperclip: "\ec2b";
$sp-paragraph-spacing: "\ec2c";
$sp-paragraph-wrap: "\ec2d";
$sp-passcode-lock: "\ec2e";
$sp-passcode: "\ec2f";
$sp-passport: "\ec30";
$sp-pause-circle: "\ec31";
$sp-pause-square: "\ec32";
$sp-pen-tool-01: "\ec33";
$sp-pen-tool-02: "\ec34";
$sp-pen-tool-minus: "\ec35";
$sp-pen-tool-plus: "\ec36";
$sp-pencil-01: "\ec37";
$sp-pencil-02: "\ec38";
$sp-pencil-line: "\ec39";
$sp-pentagon: "\ec3a";
$sp-percent-01: "\ec3b";
$sp-percent-02: "\ec3c";
$sp-percent-03: "\ec3d";
$sp-perspective-01: "\ec3e";
$sp-perspective-02: "\ec3f";
$sp-phone-01: "\ec40";
$sp-phone-02: "\ec41";
$sp-phone-call-01: "\ec42";
$sp-phone-call-02: "\ec43";
$sp-phone-hang-up: "\ec44";
$sp-phone-incoming-01: "\ec45";
$sp-phone-incoming-02: "\ec46";
$sp-phone-outgoing-01: "\ec47";
$sp-phone-outgoing-02: "\ec48";
$sp-phone-pause: "\ec49";
$sp-phone-plus: "\ec4a";
$sp-phone-x: "\ec4b";
$sp-phone: "\ec4c";
$sp-pie-chart-01: "\ec4d";
$sp-pie-chart-02: "\ec4e";
$sp-pie-chart-03: "\ec4f";
$sp-pie-chart-04: "\ec50";
$sp-piggy-bank-01: "\ec51";
$sp-piggy-bank-02: "\ec52";
$sp-pilcrow-01: "\ec53";
$sp-pilcrow-02: "\ec54";
$sp-pilcrow-square: "\ec55";
$sp-pin-01: "\ec56";
$sp-pin-02: "\ec57";
$sp-placeholder: "\ec58";
$sp-plane: "\ec59";
$sp-play-circle: "\ec5a";
$sp-play-square: "\ec5b";
$sp-play: "\ec5c";
$sp-plus-circle: "\ec5d";
$sp-plus-square: "\ec5e";
$sp-plus: "\ec5f";
$sp-podcast: "\ec60";
$sp-power-01: "\ec61";
$sp-power-02: "\ec62";
$sp-power-03: "\ec63";
$sp-presentation-chart-01: "\ec64";
$sp-presentation-chart-02: "\ec65";
$sp-presentation-chart-03: "\ec66";
$sp-printer: "\ec67";
$sp-puzzle-piece-01: "\ec68";
$sp-puzzle-piece-02: "\ec69";
$sp-qr-code-01: "\ec6a";
$sp-qr-code-02: "\ec6b";
$sp-receipt-check: "\ec6c";
$sp-receipt: "\ec6d";
$sp-recording-01: "\ec6e";
$sp-recording-02: "\ec6f";
$sp-recording-03: "\ec70";
$sp-reflect-01: "\ec71";
$sp-reflect-02: "\ec72";
$sp-refresh-ccw-01: "\ec73";
$sp-refresh-ccw-02: "\ec74";
$sp-refresh-ccw-03: "\ec75";
$sp-refresh-ccw-04: "\ec76";
$sp-refresh-ccw-05: "\ec77";
$sp-refresh-cw-01: "\ec78";
$sp-refresh-cw-02: "\ec79";
$sp-refresh-cw-03: "\ec7a";
$sp-refresh-cw-04: "\ec7b";
$sp-refresh-cw-05: "\ec7c";
$sp-repeat-01: "\ec7d";
$sp-repeat-02: "\ec7e";
$sp-repeat-03: "\ec7f";
$sp-repeat-04: "\ec80";
$sp-reverse-left: "\ec81";
$sp-reverse-right: "\ec82";
$sp-right-indent-01: "\ec83";
$sp-right-indent-02: "\ec84";
$sp-rocket-01: "\ec85";
$sp-rocket-02: "\ec86";
$sp-roller-brush: "\ec87";
$sp-route: "\ec88";
$sp-rows-01: "\ec89";
$sp-rows-02: "\ec8a";
$sp-rows-03: "\ec8b";
$sp-rss-01: "\ec8c";
$sp-rss-02: "\ec8d";
$sp-ruler: "\ec8e";
$sp-safe: "\ec8f";
$sp-sale-01: "\ec90";
$sp-sale-02: "\ec91";
$sp-sale-03: "\ec92";
$sp-sale-04: "\ec93";
$sp-save-01: "\ec94";
$sp-save-02: "\ec95";
$sp-save-03: "\ec96";
$sp-scale-01: "\ec97";
$sp-scale-02: "\ec98";
$sp-scale-03: "\ec99";
$sp-scales-01: "\ec9a";
$sp-scales-02: "\ec9b";
$sp-scan: "\ec9c";
$sp-scissors-01: "\ec9d";
$sp-scissors-02: "\ec9e";
$sp-scissors-cut-01: "\ec9f";
$sp-scissors-cut-02: "\eca0";
$sp-search-lg: "\eca1";
$sp-search-md: "\eca2";
$sp-search-refraction: "\eca3";
$sp-search-sm: "\eca4";
$sp-send-01: "\eca5";
$sp-send-02: "\eca6";
$sp-send-03: "\eca7";
$sp-server-01: "\eca8";
$sp-server-02: "\eca9";
$sp-server-03: "\ecaa";
$sp-server-04: "\ecab";
$sp-server-05: "\ecac";
$sp-server-06: "\ecad";
$sp-settings-01: "\ecae";
$sp-settings-02: "\ecaf";
$sp-settings-03: "\ecb0";
$sp-settings-04: "\ecb1";
$sp-share-01: "\ecb2";
$sp-share-02: "\ecb3";
$sp-share-03: "\ecb4";
$sp-share-04: "\ecb5";
$sp-share-05: "\ecb6";
$sp-share-06: "\ecb7";
$sp-share-07: "\ecb8";
$sp-shield-01: "\ecb9";
$sp-shield-02: "\ecba";
$sp-shield-03: "\ecbb";
$sp-shield-dollar: "\ecbc";
$sp-shield-off: "\ecbd";
$sp-shield-plus: "\ecbe";
$sp-shield-tick: "\ecbf";
$sp-shield-zap: "\ecc0";
$sp-shopping-bag-01: "\ecc1";
$sp-shopping-bag-02: "\ecc2";
$sp-shopping-bag-03: "\ecc3";
$sp-shopping-cart-01: "\ecc4";
$sp-shopping-cart-02: "\ecc5";
$sp-shopping-cart-03: "\ecc6";
$sp-shuffle-01: "\ecc7";
$sp-shuffle-02: "\ecc8";
$sp-signal-01: "\ecc9";
$sp-signal-02: "\ecca";
$sp-signal-03: "\eccb";
$sp-simcard: "\eccc";
$sp-skew: "\eccd";
$sp-skip-back: "\ecce";
$sp-skip-forward: "\eccf";
$sp-slash-circle-01: "\ecd0";
$sp-slash-circle-02: "\ecd1";
$sp-slash-divider: "\ecd2";
$sp-slash-octagon: "\ecd3";
$sp-sliders-01: "\ecd4";
$sp-sliders-02: "\ecd5";
$sp-sliders-03: "\ecd6";
$sp-sliders-04: "\ecd7";
$sp-snowflake-01: "\ecd8";
$sp-snowflake-02: "\ecd9";
$sp-spacing-height-01: "\ecda";
$sp-spacing-height-02: "\ecdb";
$sp-spacing-width-01: "\ecdc";
$sp-spacing-width-02: "\ecdd";
$sp-speaker-01: "\ecde";
$sp-speaker-02: "\ecdf";
$sp-speaker-03: "\ece0";
$sp-speedometer-01: "\ece1";
$sp-speedometer-02: "\ece2";
$sp-speedometer-03: "\ece3";
$sp-speedometer-04: "\ece4";
$sp-square: "\ece5";
$sp-stand: "\ece6";
$sp-star-01: "\ece7";
$sp-star-02: "\ece8";
$sp-star-03: "\ece9";
$sp-star-04: "\ecea";
$sp-star-05: "\eceb";
$sp-star-06: "\ecec";
$sp-star-07: "\eced";
$sp-stars-01: "\ecee";
$sp-stars-02: "\ecef";
$sp-stars-03: "\ecf0";
$sp-sticker-circle: "\ecf1";
$sp-sticker-square: "\ecf2";
$sp-stop-circle: "\ecf3";
$sp-stop-square: "\ecf4";
$sp-stop: "\ecf5";
$sp-strikethrough-01: "\ecf6";
$sp-strikethrough-02: "\ecf7";
$sp-strikethrough-square: "\ecf8";
$sp-subscript: "\ecf9";
$sp-sun-setting-01: "\ecfa";
$sp-sun-setting-02: "\ecfb";
$sp-sun-setting-03: "\ecfc";
$sp-sun: "\ecfd";
$sp-sunrise: "\ecfe";
$sp-sunset: "\ecff";
$sp-switch-horizontal-01: "\ed00";
$sp-switch-horizontal-02: "\ed01";
$sp-switch-vertical-01: "\ed02";
$sp-switch-vertical-02: "\ed03";
$sp-table: "\ed04";
$sp-tablet-01: "\ed05";
$sp-tablet-02: "\ed06";
$sp-tag-01: "\ed07";
$sp-tag-02: "\ed08";
$sp-tag-03: "\ed09";
$sp-target-01: "\ed0a";
$sp-target-02: "\ed0b";
$sp-target-03: "\ed0c";
$sp-target-04: "\ed0d";
$sp-target-05: "\ed0e";
$sp-telescope: "\ed0f";
$sp-terminal-browser: "\ed10";
$sp-terminal-circle: "\ed11";
$sp-terminal-square: "\ed12";
$sp-terminal: "\ed13";
$sp-text-input: "\ed14";
$sp-thermometer-01: "\ed15";
$sp-thermometer-02: "\ed16";
$sp-thermometer-03: "\ed17";
$sp-thermometer-cold: "\ed18";
$sp-thermometer-warm: "\ed19";
$sp-thumbs-down: "\ed1a";
$sp-thumbs-up: "\ed1b";
$sp-ticket-01: "\ed1c";
$sp-ticket-02: "\ed1d";
$sp-toggle-01-left: "\ed1e";
$sp-toggle-01-right: "\ed1f";
$sp-toggle-02-left: "\ed20";
$sp-toggle-02-right: "\ed21";
$sp-toggle-03-left: "\ed22";
$sp-toggle-03-right: "\ed23";
$sp-tool-01: "\ed24";
$sp-tool-02: "\ed25";
$sp-train: "\ed26";
$sp-tram: "\ed27";
$sp-transform: "\ed28";
$sp-translate-01: "\ed29";
$sp-translate-02: "\ed2a";
$sp-trash-01: "\ed2b";
$sp-trash-02: "\ed2c";
$sp-trash-03: "\ed2d";
$sp-trash-04: "\ed2e";
$sp-trend-down-01: "\ed2f";
$sp-trend-down-02: "\ed30";
$sp-trend-up-01: "\ed31";
$sp-trend-up-02: "\ed32";
$sp-triangle: "\ed33";
$sp-trophy-01: "\ed34";
$sp-trophy-02: "\ed35";
$sp-truck-01: "\ed36";
$sp-truck-02: "\ed37";
$sp-tv-01: "\ed38";
$sp-tv-02: "\ed39";
$sp-tv-03: "\ed3a";
$sp-type-01: "\ed3b";
$sp-type-02: "\ed3c";
$sp-type-square: "\ed3d";
$sp-type-strikethrough-01: "\ed3e";
$sp-type-strikethrough-02: "\ed3f";
$sp-umbrella-01: "\ed40";
$sp-umbrella-02: "\ed41";
$sp-umbrella-03: "\ed42";
$sp-underline-01: "\ed43";
$sp-underline-02: "\ed44";
$sp-underline-square: "\ed45";
$sp-upload-01: "\ed46";
$sp-upload-02: "\ed47";
$sp-upload-03: "\ed48";
$sp-upload-04: "\ed49";
$sp-upload-cloud-01: "\ed4a";
$sp-upload-cloud-02: "\ed4b";
$sp-usb-flash-drive: "\ed4c";
$sp-user-01: "\ed4d";
$sp-user-02: "\ed4e";
$sp-user-03: "\ed4f";
$sp-user-check-01: "\ed50";
$sp-user-check-02: "\ed51";
$sp-user-circle: "\ed52";
$sp-user-down-01: "\ed53";
$sp-user-down-02: "\ed54";
$sp-user-edit: "\ed55";
$sp-user-left-01: "\ed56";
$sp-user-left-02: "\ed57";
$sp-user-minus-01: "\ed58";
$sp-user-minus-02: "\ed59";
$sp-user-plus-01: "\ed5a";
$sp-user-plus-02: "\ed5b";
$sp-user-right-01: "\ed5c";
$sp-user-right-02: "\ed5d";
$sp-user-square: "\ed5e";
$sp-user-up-01: "\ed5f";
$sp-user-up-02: "\ed60";
$sp-user-x-01: "\ed61";
$sp-user-x-02: "\ed62";
$sp-users-01: "\ed63";
$sp-users-02: "\ed64";
$sp-users-03: "\ed65";
$sp-users-check: "\ed66";
$sp-users-down: "\ed67";
$sp-users-edit: "\ed68";
$sp-users-left: "\ed69";
$sp-users-minus: "\ed6a";
$sp-users-plus: "\ed6b";
$sp-users-right: "\ed6c";
$sp-users-up: "\ed6d";
$sp-users-x: "\ed6e";
$sp-variable: "\ed6f";
$sp-video-recorder-off: "\ed70";
$sp-video-recorder: "\ed71";
$sp-virus: "\ed72";
$sp-voicemail: "\ed73";
$sp-volume-max: "\ed74";
$sp-volume-min: "\ed75";
$sp-volume-minus: "\ed76";
$sp-volume-plus: "\ed77";
$sp-volume-x: "\ed78";
$sp-wallet-01: "\ed79";
$sp-wallet-02: "\ed7a";
$sp-wallet-03: "\ed7b";
$sp-wallet-04: "\ed7c";
$sp-wallet-05: "\ed7d";
$sp-watch-circle: "\ed7e";
$sp-watch-square: "\ed7f";
$sp-waves: "\ed80";
$sp-webcam-01: "\ed81";
$sp-webcam-02: "\ed82";
$sp-wifi-off: "\ed83";
$sp-wifi: "\ed84";
$sp-wind-01: "\ed85";
$sp-wind-02: "\ed86";
$sp-wind-03: "\ed87";
$sp-x-circle: "\ed88";
$sp-x-close: "\ed89";
$sp-x-square: "\ed8a";
$sp-x: "\ed8b";
$sp-youtube: "\ed8c";
$sp-zap-circle: "\ed8d";
$sp-zap-fast: "\ed8e";
$sp-zap-off: "\ed8f";
$sp-zap-square: "\ed90";
$sp-zap: "\ed91";
$sp-zoom-in: "\ed92";
$sp-zoom-out: "\ed93";

